
body {
  background-color: orange;
 
  font-family: Verdana;
}



  img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: auto;
  
}

.transparent-link {
    background-color: transparent !important; /* Ensures it overrides any conflicting styles */
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
  text-align: center
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
  text-align: center
}

tr:nth-child(even) {
  background-color: #dddddd;
}

@keyframes disco {
  0% { color: rgb(196, 30, 58); text-shadow: 0 0 10px rgb(196, 30, 58); }
  10% { color: rgb(255, 120, 2); text-shadow: 0 0 10px rgb(255, 120, 2); }
  20% { color: rgb(255, 204, 2); text-shadow: 0 0 10px rgb(255, 204, 2); }
  30% { color: rgb(166, 255, 2); text-shadow: 0 0 10px rgb(166, 255, 2); }
  40% { color: rgb(2, 225, 255); text-shadow: 0 0 10px rgb(2, 225, 255); }
  50% { color: rgb(2, 48, 255); text-shadow: 0 0 10px rgb(2, 48, 255); }
  60% { color: rgb(162, 2, 255); text-shadow: 0 0 10px rgb(162, 2, 255); }
  70% { color: rgb(255, 2, 179); text-shadow: 0 0 10px rgb(255, 2, 179); }
  80% { color: rgb(255, 2, 179); text-shadow: 0 0 10px rgb(255, 2, 179); }
}

.disco-text {
  animation: disco 2s linear infinite;
}   

h1 {
    font-size: 85px;
    font-family: Arial, Helvetica, sans-serif ;
    font-weight: bolder;
    text-align: center
   }
 h2{
    color: rgba(238, 104, 8, 0.903);
    font-size: 70px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    padding: 40px;
 }
 h3{
   color: rgb(255, 120, 2);
   font-size: 50px;
   font-family: Arial, Helvetica, sans-serif;
   font-weight: bolder;
   padding: 40px;
 }
 header{ 
  font-size: 30px;
  font-family: Arial, Helvetica, sans-serif;
  padding: 20px;
  font-weight: bold;
  
 }
 h4 {
  font-size: 30px;
  font-family: Arial, Helvetica, sans-serif;
  padding: 20px;
  color: #2818e4;
}

  p {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  color: black;
   }
   .navbar {
  width: 100%;
  background-color: orange;
  overflow: auto; 
  padding: 35px;

  
}

.navbar a {
  float: middle;
  padding: 12px;
  color: white;
  text-decoration: none;
  font-size: 25px;
  width: 50%; 
  text-align: center;
}
.topnav {
  overflow: hidden;
   }

q { color: aqua;
 }


div {
  padding: 35px;
  background-color: orange;
  box-sizing: border-box;
  border: 35px orange;
}

a {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  color: white;
  padding: 10px;
  box-sizing: border-box;
  background-color: black;
   }




